body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #1e3c72, #2a5298);
    margin: 0;
    padding: 0px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container {
    max-width: 900px;
    min-height: 500px;
    margin: 0 auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.95);
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    position : relative;
    overflow: hidden;
}

h1 {
    text-align: center;
    color : transparent;
    font-size: 40px;
    background: linear-gradient(90deg, #007bff, #0056b3);
    -webkit-background-clip: text;
    background-clip: text;
    margin-bottom: 30px;
}

#quiz {
    text-align: center;
    font-size: 20px;
    color: #555;
}

#options {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-bottom: 20px;

}

button {
    padding: 15px 25px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: 400;
    transition: all 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

button:hover {
    background-color: #0056b3;
    transform :translateY(-3px);
}

button:active {
    transform: translateY(0);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

button.correct {
    background-color: #28a745;
    color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

button.wrong {
    background-color: #dc3545;
    color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.final-score {
    font-size: 40px;
    margin: 20px 0;
    font-weight: bold;
    text-align: center;
}

.score-red {
    color: #cf0e0e
}

.score-green {
    color: #28a745
}

.score-orange {
    color: #ffa500
}

.restart-btn {
    padding: 8px 16px;
    background-color: #6c757d;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    position: fixed;
    left: 50px;
    bottom: 20px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.restart-btn:hover {
    background-color: #5a6268;
    transform: translateY(-3px);
}

.restart-btn:active {
    transform: translateY(0);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

footer {
    text-align: center;
    color: #777;
    font-size: 14px;
    margin-top: 20px;
    padding: 10px;
}

